%{
   ActionTrackerPlugin template that defines the contents of the
   edit pane.
}%

<form method="post" action="%SCRIPTURLPATH{"%SUBMITCOMMAND%"}%/%WEB%/%TOPIC%%SUBMITCMDOPT%" type="POST" enctype="application/x-www-form-urlencoded">
  %EDITFIELDS%
  <textarea name="text" wrap="virtual" rows="%EBH%" cols="%EBW%" style="width:99%" class="foswikiTextarea foswikiEditboxStyleProportional">%TEXT%</textarea>
  %HIDDENFIELDS%
  <br />
  <input type="submit" value=" &nbsp; %MAKETEXT{"Save"}% &nbsp; " />
</form>
