%TMPL:DEF{"ATPMail"}%From: %TMPL:P{"From"}%
To: %to_expanded%
Subject: %TMPL:P{"Subject"}%
MIME-Version: 1.0
Content-Type: multipart/alternative; boundary="=_=0i0k0i0w0tXuOi0E0A"

This is a multi-part message in MIME format.
--=_=0i0k0i0w0tXuOi0E0A
Content-Type: %TMPL:P{"Type"}%;%TMPL:P{"Charset"}%format=flowed
Content-Transfer-Encoding: 8bit

%TMPL:P{"mailContents"}%

--=_=0i0k0i0w0tXuOi0E0A--
%TMPL:END%

%{"--- Additional definitions. You rarely need to modify them. ---"}%
%{"Set receipient:"}%
%TMPL:DEF{"To"}%%to%%TMPL:END%

%{"Charset of the mail"}%
%TMPL:DEF{"Charset"}%charset="utf-8";%TMPL:END%

%{"Set Content-Type (to ether text/plain or text/html)"}%
%TMPL:DEF{"Type"}%text/plain%TMPL:END%
