%{ This is used in a modal dialog, so disable the standard page furniture }%
%TMPL:INCLUDE{"login"}%
%TMPL:DEF{"main"}%%TMPL:P{"content"}%%TMPL:END%
%TMPL:DEF{"htmldoctype"}%%TMPL:END%
%TMPL:DEF{"head"}%%TMPL:END%
%TMPL:DEF{"bodystart"}%%TMPL:END%
%TMPL:DEF{"bodyend"}%%TMPL:END%