%{ Templates for lease conflict message. }%
%TMPL:INCLUDE{"oopsleaseconflict"}%
%TMPL:DEF{"content"}% *%MAKETEXT{"Attention"}%*
<!-- ATP_CONFLICT ~%WEB%.%TOPIC%~%PARAM1%~%PARAM2%~%PARAM3%~ -->
<!-- ATP_CONFLICT_MESSAGE ~<p style="color: red;">%MAKETEXT{"Could not access [_1], the topic containing this action." args="%WEB%.%TOPIC%"}%</p>~<p>%MAKETEXT{"[_1] may still be editing the topic, but their lease expired [_2] ago." args="%PARAM1%,%PARAM2%"}%</p>~<p>%MAKETEXT{"[_1] has been editing the topic for [_2] and the lease is still active for another [_3]." args="%PARAM1%,%PARAM2%,%PARAM3%"}%</p>~<p>%MAKETEXT{"To clear the lease, try editing [_1] with the standard text editor." args="%WEB%.%TOPIC%"}%</p>~%MAKETEXT{"Error when I tried to edit the action"}%~%MAKETEXT{"Sorry, validation failed, possibly because someone else is already editing the action. Please try again in a few minutes."}%~ -->
%TMPL:END%
