%{ Templates for lease conflict message. }%
%TMPL:INCLUDE{"oopsleaseconflict"}%
%TMPL:DEF{"webaction"}% *%MAKETEXT{"Attention"}%* <!-- ATP_CONFLICT ~ %WEB%.%TOPIC% ~ %PARAM1% ~%PARAM2%~%PARAM3%~ --> %TMPL:END%
